.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  object-fit: cover;
  /* Smooth transform transition */
  transition: transform 0.3s ease-in-out;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    text-transform: none;
    font-weight: 600;
}
.zoom-img {
  width: 100%;
 
  object-fit: cover;
  /* Smooth transform transition */
  transition: transform 0.3s ease-in-out;
}

/* On hover, scale up the image */
.card:hover .zoom-img {
  transform: scale(1.1); /* Adjust zoom level (1.5 = 150%) */
}